Repository opensearch-project/dashboards-maps, pull requests merged in 2022-09, with the labels that each got.

#43 Update the version of OSD from 2.2.0.0 to 2.3.0.0
  .github/workflows/cypress-workflow.yml
  src/plugins/custom_import_map/opensearch_dashboards.json
  src/plugins/custom_import_map/package.json
Labels: v2.3.0, maps

#45 adds fix for running cypress tests in 2.3 branch
  .github/workflows/cypress-workflow.yml
Labels: v2.3.0, backport 2.x

#40 add map page and add basic layers panel
  src/plugins/maps_dashboards/common/index.ts
  src/plugins/maps_dashboards/package-lock.json
  src/plugins/maps_dashboards/package.json
  src/plugins/maps_dashboards/public/components/app.tsx
  src/plugins/maps_dashboards/public/components/layer_control_panel/MaplibreLayersPanelControl.tsx
  src/plugins/maps_dashboards/public/components/layer_control_panel/index.ts
  src/plugins/maps_dashboards/public/components/layer_control_panel/layer_control_panel.scss
  src/plugins/maps_dashboards/public/components/layer_control_panel/layer_control_panel.tsx
  src/plugins/maps_dashboards/public/index.scss
  src/plugins/maps_dashboards/public/pages/index.tsx
  src/plugins/maps_dashboards/public/pages/list_maps_page/maps_list.tsx
  src/plugins/maps_dashboards/public/pages/map_page/map.tsx
  src/plugins/maps_dashboards/public/plugin.ts
  src/plugins/maps_dashboards/server/routes/index.ts
  src/plugins/maps_dashboards/yarn.lock
Labels: maps-dashboards

#47 Added release notes for 2.3.0
  release-notes/opensearch-dashboards-maps.release-notes-2.3.0.0.md
Labels: documentation, release, backport 2.x, backport 2.3

#51 Add layer panel component
  src/plugins/maps_dashboards/public/components/add_layer_panel/add_layer_panel.scss
  src/plugins/maps_dashboards/public/components/add_layer_panel/add_layer_panel.tsx
  src/plugins/maps_dashboards/public/components/add_layer_panel/index.ts
  src/plugins/maps_dashboards/public/components/layer_control_panel/layer_control_panel.scss
  src/plugins/maps_dashboards/public/components/layer_control_panel/layer_control_panel.tsx
  src/plugins/maps_dashboards/public/index.scss
Labels: maps-dashboards
