Repository opensearch-project/dashboards-maps, pull requests merged in 2022-12, with the labels that each got.

#97 Add document layer
  maps_dashboards/common/index.ts
  maps_dashboards/opensearch_dashboards.json
  maps_dashboards/public/components/add_layer_panel/add_layer_panel.tsx
  maps_dashboards/public/components/layer_config/base_map_layer_config_panel.tsx
  maps_dashboards/public/components/layer_config/document_layer_config_panel.tsx
  maps_dashboards/public/components/layer_config/document_layer_source.tsx
  maps_dashboards/public/components/layer_config/document_layer_style.tsx
  maps_dashboards/public/components/layer_config/layer_basic_settings.tsx
  maps_dashboards/public/components/layer_config/layer_config_panel.tsx
  maps_dashboards/public/components/layer_control_panel/layer_control_panel.tsx
  maps_dashboards/public/components/map_container/map_container.tsx
  maps_dashboards/public/components/map_page/map_page.tsx
  maps_dashboards/public/components/maps_list/maps_list.tsx
  maps_dashboards/public/model/ILayerConfig.ts
  maps_dashboards/public/model/OSMLayerFunctions.ts
  maps_dashboards/public/model/documentLayerFunctions.ts
  maps_dashboards/public/model/layersFunctions.ts
  maps_dashboards/public/model/mapLayerType.ts
  maps_dashboards/public/plugin.ts
  maps_dashboards/public/types.ts
  maps_dashboards/public/utils/breadcrumbs.ts
Labels: v2.5.0, maps-dashboards

#106 Add developer guide
  maps_dashboards/ DEVELOPER_GUIDE.md
Labels: documentation, maps-dashboards

#107 Update basic layer settings
  maps_dashboards/public/components/layer_config/layer_basic_settings.tsx
  maps_dashboards/public/model/layersFunctions.ts
  maps_dashboards/public/model/mapLayerType.ts
Labels: v2.5.0, maps

#111 Support geo_shape visualization in documents layer
  maps_dashboards/common/index.ts
  maps_dashboards/public/components/add_layer_panel/add_layer_panel.tsx
  maps_dashboards/public/components/layer_config/document_layer_style.tsx
  maps_dashboards/public/components/layer_config/documents_config/document_layer_config_panel.tsx
  maps_dashboards/public/components/layer_config/documents_config/document_layer_source.tsx
  maps_dashboards/public/components/layer_config/documents_config/document_layer_style.tsx
  maps_dashboards/public/components/layer_config/layer_basic_settings.tsx
  maps_dashboards/public/components/layer_config/layer_config_panel.tsx
  maps_dashboards/public/model/documentLayerFunctions.ts
  maps_dashboards/public/model/mapLayerType.ts
Labels: maps-dashboards, documents-layer

#112 Update layer control panel
  maps_dashboards/public/components/add_layer_panel/add_layer_panel.tsx
  maps_dashboards/public/components/layer_control_panel/layer_control_panel.scss
  maps_dashboards/public/components/layer_control_panel/layer_control_panel.tsx
Labels: enhancement, maps-dashboards

#113 Update documents layer render visibility
  maps_dashboards/public/model/documentLayerFunctions.ts
Labels: bug, maps-dashboards

#141 Update documents size limit
  maps_dashboards/common/index.ts
  maps_dashboards/public/components/layer_config/documents_config/document_layer_source.tsx
  maps_dashboards/public/components/map_top_nav/top_nav_menu.tsx
Labels: enhancement

#139 Delete layer modal
  maps_dashboards/public/components/layer_control_panel/layer_control_panel.tsx
Labels: enhancement
