Repository opensearch-project/dashboards-maps, pull requests merged in 2022-10, with the labels that each got.

#58 Update maps vector tile service url
  src/plugins/maps_dashboards/common/index.ts
Labels: maps-dashboards

#63 Add macos and window platform in CI workflow
  .github/workflows/unit-tests-workflow-for-customImportMap.yml
  src/plugins/custom_import_map/package.json
  src/plugins/custom_import_map/test/jest.config.js
Labels: enhancement, v2.4.0, backport 2.x, windows

#62 add base map layer functions
  src/plugins/maps_dashboards/common/index.ts
  src/plugins/maps_dashboards/public/components/add_layer_panel/add_layer_panel.tsx
  src/plugins/maps_dashboards/public/components/layer_config/base_map_layer_config_panel.tsx
  src/plugins/maps_dashboards/public/components/layer_config/index.ts
  src/plugins/maps_dashboards/public/components/layer_config/layer_config_panel.tsx
  src/plugins/maps_dashboards/public/components/layer_control_panel/MaplibreLayersPanelControl.tsx
  src/plugins/maps_dashboards/public/components/layer_control_panel/index.ts
  src/plugins/maps_dashboards/public/components/layer_control_panel/layer_control_panel.tsx
  src/plugins/maps_dashboards/public/components/map_container/map_container.scss
  src/plugins/maps_dashboards/public/components/map_container/map_container.tsx
  src/plugins/maps_dashboards/public/index.scss
  src/plugins/maps_dashboards/public/model/ILayerConfig.ts
Labels: maps-dashboards

#66 add new layer functions for opensearch map layer
  maps_dashboards/common/index.ts
  maps_dashboards/package.json
  maps_dashboards/public/components/add_layer_panel/add_layer_panel.tsx
  maps_dashboards/public/components/layer_config/layer_config_panel.tsx
  maps_dashboards/public/components/layer_control_panel/layer_control_panel.tsx
  maps_dashboards/public/components/map_container/map_container.scss
  maps_dashboards/public/components/map_container/map_container.tsx
  maps_dashboards/public/model/ILayerConfig.ts
  maps_dashboards/public/model/OSMLayerFunctions.ts
  maps_dashboards/public/model/layersFunctions.ts
  maps_dashboards/yarn.lock
Labels: feature, maps-dashboards
